[core]
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "vscode"]
	cmd = '/Applications/Visual Studio Code.app/Contents/Resources/app/bin/code' \"$MERGED\"
	trustExitCode = false
[user]
	name = 60°
	email = hatsumi.yamane.4609@gmail.com
[commit]
	template = ~/.stCommitMsg
[color]
	ui = auto
	#色の表示ができないとき
	# ui = false
[alias]
	st = status
	cm = commit
	cmm = commit -m
	cmam = commit --amend --no-edit
	cmamp = !git commit --amend --no-edit && git push-f
	adda = add -A
	stashall = stash -u # untrackなファイルも含める
	stashunstaged = stash -k # stageされているファイルは除く
	df = diff
	co = checkout
	br = branch
	lg = log
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %C(blue)%cn %C(red)%d %Creset%s'
	gra = gr --all
	gran = gr --all -n
	po = commit -m "po"
	pushsu = push --set-upstream
	pushsuo = push --set-upstream origin
	push-f = push --force-with-lease
